<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="mailapp.entrypoints"
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            path="/firstproject"
            applicationId="RAP-FirstProject.firstproject"
            id="mailapp.entrypoint">
      </entrypoint>
   </extension>
   <extension
         id="RAP-FirstProject.firstproject"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="application.Perspective"
            icon="icons/project.png"
            id="RAP-FirstProject.projectPerspective"
            name="Project">
      </perspective>
      <perspective
            class="application.TemplatePerspective"
            icon="icons/template.png"
            id="RAP-FirstProject.templatePerspective"
            name="Template">
      </perspective>
      <perspective
            class="application.SystemPerspective"
            icon="icons/system.png"
            id="RAP-FirstProject.systemPerspective"
            name="System">
      </perspective>
      <perspective
            class="application.UserPerspective"
            icon="icons/user.png"
            id="RAP-FirstProject.userPerspective"
            name="User">
      </perspective>
      <perspective
            class="application.LogoutPerspective"
            icon="icons/logout.png"
            id="RAP-FirstProject.logoutPerspective"
            name="Logout">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="view.project.TreeViewPart"
            icon="icons/project.png"
            id="RAP-FirstProject.project"
            name="Project"
            restorable="true">
      </view>
      <view
            class="view.project.DeviceTableView"
            icon="icons/device.png"
            id="RAP-FirstProject.deviceSelection"
            name="Device"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="view.project.VersionPropertiesView"
            id="RAP-FirstProject.VersionPropertiesView"
            name="VersionProperties"
            restorable="true">
      </view>
      <view
            class="view.template.AreasTemplatesView"
            icon="icons/areas.png"
            id="RAP-FirstProject.areas"
            name="Areas"
            restorable="true">
      </view>
      <view
            class="view.project.VersionPropertiesView"
            icon="icons/homeworks-controller.png"
            id="RAP-FirstProject.drivers"
            name="Drivers"
            restorable="true">
      </view>
      <view
            class="view.project.VersionPropertiesView"
            icon="icons/service.png"
            id="RAP-FirstProject.services"
            name="Service"
            restorable="true">
      </view>
      <view
            class="view.project.VersionPropertiesView"
            icon="icons/scene.png"
            id="RAP-FirstProject.scenes"
            name="Scenes"
            restorable="true">
      </view>
      <view
            class="view.project.VersionPropertiesView"
            icon="icons/rule.png"
            id="RAP-FirstProject.rules"
            name="Rules"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="view.project.ProjectPropertiesView"
            id="RAP-FirstProject.projectPropertiesViewPart"
            name="ProjectProperties"
            restorable="true">
      </view>
      <view
            class="view.template.DevicesTemplatesTableView"
            icon="icons/template.png"
            id="RAP-FirstProject.devicesTemplatesView"
            name="DevicesTemplates"
            restorable="true">
      </view>
      <view
            class="view.template.DetailDeviceTemplateView"
            id="RAP-FirstProject.detailDeviceTemplateView"
            name="Detail Device Template"
            restorable="true">
      </view>
      <view
            class="view.dialog.NewDeviceView"
            id="RAP-FirstProject.newDevice"
            name="New Device"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="view.project.DetailDeviceView"
            id="RAP-FirstProject.detailDeviceView"
            name="Detail Device"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.export"
            name="Export">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.deploy"
            name="Deploy">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.report"
            name="Report">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.helplink"
            name="Help Links">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.projects"
            name="Projects">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.template"
            name="Template">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.system"
            name="System">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.user"
            name="User">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.logout"
            name="Logout">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.refresh"
            name="Refresh">
      </command>
      <command
            defaultHandler="handlers.NewProjectHandler"
            id="RAP-FirstProject.addProject"
            name="Add project">
      </command>
      <command
            defaultHandler="handlers.AddDeviceTemplateHandler"
            id="RAP-FirstProject.selectTemplate"
            name="Select template">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.version"
            name="Version">
      </command>
      <command
            defaultHandler="handlers.SaveAsVersionHandler"
            id="RAP-FirstProject.save"
            name="Save">
      </command>
      <command
            defaultHandler="handlers.DefaultHandler"
            id="RAP-FirstProject.warning"
            name="Warning">
      </command>
      <command
            defaultHandler="handlers.DeleteVersionHandler"
            id="RAP-FirstProject.delete"
            name="Delete version">
      </command>
      <command
            defaultHandler="handlers.NewVersionHandler"
            id="RAP-FirstProject.addVersion"
            name="Add version">
      </command>
      <command
            defaultHandler="handlers.SaveDeviceHandler"
            id="RAP-FirstProject.saveDevice"
            name="Save device">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.command1">
         <toolbar
               id="toolbar1:org.eclipse.ui.main.toolbar ">
            <command
                  commandId="RAP-FirstProject.export"
                  icon="icons/export.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.deploy"
                  icon="icons/deployunit_project.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.report"
                  icon="icons/report.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="toolbar:org.eclipse.ui.trim.command2">
            <command
                  commandId="RAP-FirstProject.helplink"
                  icon="icons/help.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:view.TreeViewPart">
         <toolbar
               id="RAP-FirstProject.project">
            <command
                  commandId="RAP-FirstProject.refresh"
                  icon="icons/refresh.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.addProject"
                  icon="icons/addfolder.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.version"
                  icon="icons/version.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.save"
                  icon="icons/save_as.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.warning"
                  icon="icons/warning.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:view.DeviceSelectionViewPart">
         <toolbar
               id="RAP-FirstProject.deviceSelection">
            <command
                  commandId="RAP-FirstProject.refresh"
                  icon="icons/refresh.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.selectTemplate"
                  icon="icons/add.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.addProject"
                  icon="icons/addfolder.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.version"
                  icon="icons/version.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.save"
                  icon="icons/save_as.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.warning"
                  icon="icons/warning.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.refresh"
                  icon="icons/refresh.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.addProject"
                  icon="icons/addfolder.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.version"
                  icon="icons/version.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.save"
                  icon="icons/save_as.png"
                  style="push">
            </command>
            <command
                  commandId="RAP-FirstProject.warning"
                  icon="icons/warning.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:RAP-FirstProject.project">
         <command
               commandId="RAP-FirstProject.addProject"
               icon="icons/project.png"
               label="New project"
               style="push">
         </command>
         <command
               commandId="RAP-FirstProject.addVersion"
               icon="icons/version.png"
               label="New version"
               style="push">
         </command>
         <command
               commandId="RAP-FirstProject.save"
               icon="icons/save_as.png"
               label="Save as"
               style="push">
         </command>
         <command
               commandId="RAP-FirstProject.delete"
               icon="icons/delete.png"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.NewProjectHandler"
            commandId="RAP-FirstProject.RapShowSelected">
      </handler>
   </extension>

</plugin>
